.swiper-3d{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    
  }

  .swiper-slide-3d {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;

  }


.swiper-3d .card{
    margin: 0 auto;
}