.sub-what-we-offer .what-we-offer{
    padding-top: 100px;
}

.sub-what-we-offer .sub-top-card-image{
    max-width: 70px;
}



.sub-what-we-offer .top-card p {
    text-align: left;
    padding-bottom: 10px;
}


.sub-what-we-offer .sub-boxes{
    overflow: hidden!important;
}


.sub-what-we-offer a{
    cursor: pointer;
}

/* modal pop up section */

.sub-what-we-offer .modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-what-we-offer .modal-container .line{
/* position: absolute; */
/* width: 224px; */
 width: 100%;
 height: 3px;
 background: #00ADB5; 
 opacity: 1;
}
.sub-what-we-offer .modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.sub-what-we-offer .modal-bg {
  position: absolute;
  /* background: teal; */
  background-color: black;
  opacity: .5;
  width: 100%;
  height: 100%;
}
/* .popup-left{
    background-image: url('./../img/designed-white-pop.png');
    background-repeat: no-repeat;
    background-position: top left;
} */
.sub-what-we-offer .modal-container {
  border-radius: 10px;
  background: var(--main-color);
  position: relative;
  margin: 0 15px;
  max-width: 600px;
  /* height: 350px;  */
  height: auto;
  /* padding: 30px; */
}
.sub-what-we-offer .modal-container .content-text-div{
    /* display: flex; */
    align-items: center;
    text-align: center;
    z-index: 10;
    padding-top: 30px;
    padding-bottom: 30px;
}
.sub-what-we-offer .modal-container ul li{
    list-style-type: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding-bottom: 5px;
}
.sub-what-we-offer .white-img-popup{
    position: absolute;

}


.sub-what-we-offer .modal-container .heading{
    color: black;
}

.sub-what-we-offer .modal-container .white-img-popup{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* width: 100%; */
    max-width: 250px;
}

.sub-what-we-offer .pop-it-up{
    position: relative;
    padding-top: 55px;
    padding-left: 20px;
    z-index: 10!important;
}
.sub-what-we-offer .pop-it-up h5{
    font-size: 25px;
    font-family: var(--main-font);
    font-weight: bold;
}

.sub-what-we-offer .modal-container h5{
    z-index: 2;
}
.sub-what-we-offer .modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  outline: none;
  appearance: none;
  /* color: red; */
  color: white;
  z-index: 10;
  background: none;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
}


@media screen and (max-width : 769px){
    .sub-what-we-offer .pop-it-up h5{
        font-size: 22px;
    }
    .sub-what-we-offer .pop-it-up{
        padding-top: 80px;
    }
    .sub-what-we-offer .modal-container .line {
        width: 70%;
    }

    .sub-what-we-offer .modal-container ul li{
        font-size: 12px;
    } 
}

/* modal popup section */