.sub-what-we-offer .what-we-offer{
    padding-top: 100px;
}

.sub-what-we-offer .sub-top-card-image{
    max-width: 70px;
}



.top-card p {
    text-align: left;
    padding-bottom: 10px;
}


.sub-boxes{
    overflow: hidden!important;
}
