.technologies{
    padding-top: 50px;
    padding-bottom: 50px;
}


.technologies .web-tech , 
.graphic{
    /* padding: 10px; */
    margin-bottom: 25px;
    max-width: 80px;
    max-height: 80px;
}


.fix002{
    display: flex;
    justify-content: center;
}

.fix003{
    padding: 10px;
}