.welcome h2{
    font-family: var(--font-main);
    font-size: 25px;
    font-weight: bold;
    color: var(--main-color );
    padding-bottom: 30px;
}
.welcome p{
    font-size: 16px;
}

.welcome .container .row{
    margin: 0px!important ;
}

.welcome .left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.welcome .container{
    padding-top: 50px;
    padding-bottom: 50px;
}



.process-card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* border: 1px solid black; */
}

.process-card img{
    max-width: 100px;
    margin: 0 auto;
}

.process-card h5{
    text-align: center;
    padding: 10px;
}

