.what_we_do{
    position: relative;
}
.what_we_do > .container {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}


.what-we-do-card{
    /* width: 100%; */
    margin: 0 auto;
    margin-bottom: 40px;
    /* border: 1px solid black; */
    padding: 20px;
    transition: box-shadow 2s;
}

/* Rectangle 55 */

.what-we-do-card:hover{
    box-shadow: 2px 2px 50px 1px rgba(76, 197, 203, 0.2);
    cursor: pointer;
}





.card-logo{
    text-align: center;
}
.card-logo img{
    width: 150px;
    height: 150px;
}
.card-head{
    font-family: var(--main-font);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: .7rem;
}
.card-deam-text{
    text-align: center;
    color: var(--secondary-color);
}


.what_we_do .bottom-section{
    margin-top: 6.25rem;
}

.what_we_do .bg{
    position: absolute;
    top: 10%;
    left: 0;
    padding-left: 40px;
}

.what_we_do .bg img{
    max-width: 200px;
}