/* table of consept...
* 1 [Landing page]
* 2 [Sub Pages]
*
* */

/* [landing page] */
.small-white-text{
    font-size: 15px;
    font-weight: 700;
    font-family: var(--main-font);
    color: white;
}


.big-text{
    max-width: 537;
    font-size: 3.5rem;
    font-weight: 800;
    font-family: var(--main-font);
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.small-text{
    max-width: 613px;
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    color: #ffffff;
    /* font-weight: 400; */
}


/* what we do section */
.small-intro{
    font-weight: bold;
    font-size: 25px;
    font-family: var(--main-font);
    color: #00ADB5;
    text-align: center
}

.main-heading{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    font-family: var(--main-font);
}

.deam-text{
    color: var(--secondary-color);
    max-width: 650px;
    text-align: center;
    margin: 0 auto;
    /* width: 70%; */
}
/* what we do section */

.basic-button{
    border-radius: 5px;
    background: var(--main-color);
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    border: none;
    padding: 10px 15px;
    color: #ffffff
}

/* [landing page end] */


/* [Sub page]  */
.sub-main-heading{
    font-size: 48px;
    font-family: var(--main-font);
    font-weight: 600;
    text-align: left;
}

.small-paragraphs{
 font-size: 16px;
 color: var(--secondary-color);
}

.sub-basic-button{
    background-color: #00adb5;
    border-radius: 50px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    /* padding: ; */
    font-weight: 600;
    line-height: 18px;
    padding: 10px 40px;
}

.sub-basic-button:hover{
    text-decoration: none;
    color: white;
}

/* [development section start ] */
.sub-card-heading{
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    line-height: 28px;
}


.sub-show-button{
    background-color: #00adb5;
    border-radius: 50px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    line-height: 18px;
    padding: 5px 30px;
}
.sub-show-button:hover{
    color: white;
}

.sub-top-card{
    /* border: 1px solid black; */
    padding: 15px;
    padding-left: 30px;
    padding-top: 30px;
    margin-bottom: 25px;
    border-radius: 30px;
    box-shadow: 2px 2px 50px 1px rgba(76, 197, 203, 0.2);
}

.sub-boxes{
    padding-top: 50px;
}

.sub-deam-text{
    color: var(--secondary-color);
    max-width: 650px;
    text-align: left;
    margin: 0 auto;
}




/* [development section end ] */
/* [Sub page]  */

/* See Details */

